:root {
  --bg-color: #F5EDE6;
  --bg-light: #ddb373;
  --bg-dark: #D6C1B1; 
  --text-color: #1F2A24;
  --header-bg: rgba(255, 255, 255, 0.5);
  --link-color: #111111;
  --link-hover: #0077ff;
  --component-bg: #f1dbc9 ;
  --component-color: #2F5D50;
  --component-soft-color: #7A9E7E;
  --border-color: #1F2A24;
  --component-border: ;
  --component-shadow: 0px 0px 15px 0px #2F5D50;
  --background-image: url("/src/icon/crempie.png");
  --background-size: cover;
  --background-position: center;
}


.dark {
  --bg-color: #111111;
  --bg-dark: #242424;
  --text-color: #ffffff;
  --header-bg: rgba(0, 0, 0, 0.5);
  --link-color: #ffffff;
  --link-hover: #00aaff;
  --component-bg: rgb(49, 49, 49);
  --component-color: rgb(255, 255, 255);
  --component-border: ;
  --component-shadow: 0px 0px 10px 0px rgb(202, 202, 202);
  --background-image: url("/src/icon/bgbg.png");
  --background-size: cover;
  --background-position: center;
}

body, .header, .nav-link {
  transition: background-color 0.3s, color 0.3s;
}

svg {
  background: transparent !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}